// Module import
// Basic config files and base variables
@import "config/alignment";
@import "config/layout";
@import "config/headers";
@import "config/fonts";
@import "config/colors";

// Animations
@import "animations/cube";

// Objects
@import "modules/gallery";
@import "modules/main_view";
@import "modules/menu";
@import "modules/cube_image";
@import "modules/cube_page";
@import "modules/image_holder";
@import "modules/buttons";
@import "modules/overlays";
