<div class="center-text">
  <div class="cube-page"
    ng-class="{'cube-page--current': key === current }"
    ng-repeat="(key, mediaPage) in mediaPages"
    ng-animate>
    <div
        class="cube-page__item"
        ng-class="{'cube-page__item--small': obtainClass(mediaPage.indexOf(image))}"
        ng-repeat="image in ::mediaPage.images">
        <div class="cube-page__item-wrapper">
          <image-holder
            src="image.imageUrl">
          </image-holder>
          <div
            class="cube-page__text">
            <div class="page__text--owner">{{image.owner}}</div>
            <div class="page__text--description">{{image.description}}</div>
          </div>
        </div>
    </div>
    <loading-overlay
      loading="loading">
    </loading-overlay>
  </div>
  <div class="button-set">
    <div
      class="button-set__button--prev"
      ng-disabled="loading"
      ng-click="prevPage()"> Prev Page
    </div>
    <div
      class="button-set__button--next"
      ng-disabled="loading"
      ng-click="nextPage()"> Next Page
    </div>
  </div>
</div>
