@import "compass/css3/box-shadow";
@import "compass/css3/transition";

$shadow-bg-color: rgba(244,252,228,0.6);

.button-set{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.button {
  @extend .secondary-font;
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
  background-color: $button-bg-color;
  cursor: pointer;
  color: $description-bg-color;
  @include box-shadow(0 0 5px rgba(0, 0, 0, 0.28),
                      inset 0 1px 0 $shadow-bg-color,
                      inset 0px -1px 0px $shadow-bg-color,
                      inset 1px 0px 0px $shadow-bg-color,
                      inset -1px 1px 0px $shadow-bg-color,
                      0px 0px 4px 0px black);
  @include transition(background-color .75s);
  &:hover {
    background-color: $shadow-bg-color;
    color: #000000;
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.28),
                      inset 0 1px 0 $description-bg-color,
                      inset 0px -1px 0px $description-bg-color,
                      inset 1px 0px 0px $description-bg-color,
                      inset -1px 1px 0px $description-bg-color,
                      0px 0px 6px 0px black);
    @include transition(background-color .3s);
  }
}

.button-set__button {
  @extend .button;
  margin: 6px;
}

.button-set__button--prev {
  @extend .button-set__button;
}
.button-set__button--next {
  @extend .button-set__button;
}
