@import "compass/css3";
@import "compass/css3/transition";

$cube-width: 150px;
$cube-height: 150px;
$button-set-height: 3rem;

.loading-overlay {
  @extend .expand;
  background-color: rgba(0,0,0,.6);
  color: $loading-color;
}

.cube-page-container {
  @extend .expand;
  overflow: hidden;
}

.cube-page-container__button-set {
  height: $button-set-height;
}

.cube-page {
  position: absolute;
  top: 0;
  bottom: $button-set-height;
  left: -100%;
  width: 100%;
  overflow-y: auto;
  opacity: 0;
  justify-content: space-around;
  @include display-flex(flex);
  @include flex-flow(row wrap);
  @include transition(opacity .3s linear, 0s left .3s linear);
   &.cube-page--current{
    opacity: 1;
    left: 0;
    @include transition-timing-function(ease);
    &.ng-enter {
      opacity: 0;
    }
    &.ng-leave {
      opacity: 1;
    }
  }
}

.cube-page__item-wrapper {
  position: relative;
  width: $cube-width;
  height: $cube-height;
  @include cube($cube-width);
}

// Odd Cubes Items
.cube-page__item:nth-child(2n+1) {
  .cube-page__item-wrapper:hover {
    @extend .cube-animate--right;
  }
  .cube-page__text {
    @include cube-face--left($cube-width);
  }
}
// Even Cubes Items
.cube-page__item:nth-child(2n) {
  .cube-page__item-wrapper:hover {
    @extend .cube-animate--left;
  }
  .cube-page__text {
    @include cube-face--right($cube-width);
  }
}

.cube-page__item {
  @extend .cube--appears;
  display: inline-block;
  margin: 1%;
}

.cube-page__item .image-holder,
.cube-page__item .cube-page__text{
  @extend .cube__face;
  width: 100%;
  height: 100%;
  border: 1px solid $image-border-color;
}

.cube-page__item .image-holder {
  @include cube-face--front($cube-width);
}

.cube-page__item .cube-page__text {
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: $description-bg-color;
  @extend .secondary-font;
  .page__text--owner {
    padding: 10px 0;
    background-color: $image-owner-bg-color;
    @include box-shadow(inset 0 0 10px $image-border-color);
  }
  .page__text--description {
    padding: 10px;
  }
}

