@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/transform";

$cube-width: 150px;
$cube-height: 150px;

.loading-overlay {
  @extend .expand;
  background-color: rgba(0,0,0,.6);
  color: $loading-color;
}

.cube-page {
  position: absolute;
  left: -100%;
  width: 100%;
  opacity: 0;
  justify-content: space-around;
  @include display-flex(flex);
  @include flex-flow(row wrap);
  @include transition(opacity 1s ease-out, 1s left 1s ease-out);
}

.cube-page--current {
  left: 0;
  opacity: 1;
  @include transition(1s opacity 1s ease-in-out);
}
.cube-page__item-wrapper {
  position: relative;
  width: $cube-width;
  height: $cube-height;

  @include cube($cube-width);
  &:hover {
    @extend .cube-animate--left;
  }
}

.cube-page__item {
  @extend .cube--appears;
  display: inline-block;
  margin: 1%;
}

.cube-page__item .image-holder,
.cube-page__item .cube-page__text{
  @extend .cube__face;
  width: 100%;
  height: 100%;
  border: 1px solid $image-border-color;
}

.cube-page__item .image-holder {
  @include cube-face--front($cube-width);
}

.cube-page__item .cube-page__text {
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: $description-bg-color;
  @extend .secondary-font;
  @include cube-face--right($cube-width);
  .page__text--owner {
    padding: 10px 0;
    background-color: $image-owner-bg-color;
    @include box-shadow(inset 0 0 10px $image-border-color);
  }
  .page__text--description {
    padding: 10px;
  }
}

