
$header-height: 10rem;
$footer-height: 4.5rem;
$border-radius:.2rem;

.gallery-header {
  @extend .main-font;
  position: absolute;
  width:100%;
  height: $header-height;
  z-index: 10;
  color: $header-text-color;
  border-radius: $border-radius;
}

.gallery-header__element {
  position: absolute;
  display: inline-block;
}

.gallery-header__element--logo {
  left: 0;
  text-shadow: 1px 1px 6px black;
}

.gallery-header__element--menu {
  left: 30rem;
  right: 0;
}

.gallery-content {
  @extend .secondary-font;
  position: absolute;
  top: $header-height;
  bottom: $footer-height;
  left: 0;
  right: 0;
}


.gallery-footer {
  @extend .secondary-font;
  @extend .ellipsis;
  position: absolute;
  bottom:0;
  width: 100%;
  height: $footer-height;
  text-align: center;
  border-radius: $border-radius;
  font-size: 1rem;
}
