
$header-height: 5rem;
$menu-width: 11rem;
$footer-height: 4.5rem;
$border-radius:.2rem;

.gallery-header {
  @extend .main-font;
  position: absolute;
  width:100%;
  height: $header-height;
  background-color: $header-bg-color;
  border-radius: $border-radius;
  text-shadow: 1px 1px 6px black;
}

.gallery-menu {
  position: absolute;
  top: $header-height;
  bottom: $footer-height;
  width: $menu-width;
  text-align: center;
  border-radius: $border-radius;
  // background-color: $menu-bg-color;
  box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
}

.gallery-content {
  @extend .secondary-font;
  position: absolute;
  top: $header-height;
  bottom: $footer-height;
  left: $menu-width;
  right: 0;
}


.gallery-footer {
  @extend .secondary-font;
  position: absolute;
  bottom:0;
  width: 100%;
  height: $footer-height;
  text-align: center;
  border-radius: $border-radius;
  // background-color: $footer-bg-color;
  // box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);
}
