@import "compass/css3/transition";

.image-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: $image-bkg-color;
}

.image-holder__item {
  position: relative;
  opacity: 0;
  @include transition(1.5s opacity 1.5s ease);
}

.image-holder__no-item {
  width: 100%;
  height: 100%;
}

.image-holder__item--loaded {
  opacity: 1;
}

.image-holder__no-item {
  position: absolute;
  top: 0;
  opacity: 1;
}
.image-holder__no-item--loaded {
  @include transition(opacity 1.5s linear);
  opacity: 0;
}
