.menu {

}

.menu__list {
  margin: 0;
  padding: .2rem;
}

.menu__list__item {
  @extend .button;
  width: 100%;
  margin: .5rem 0;
  box-sizing: border-box;
  list-style: none;
}

.menu__list__item--active {
  @extend .button:hover;
}

.list-item__link {
  display: block;
  text-decoration: none;
}
