<!-- <div class="menu">
  <ul class="menu__list">
    <li class="menu__list__item mstb"
      ng-repeat="option in options">
      <a class="btn btn-primary btn-sm"
        ui-sref-active="active"
        ui-sref={{::option.state}}
        >{{::option.name}}</a>
    </li>
  </ul>
</div>
 -->

<div class="menu h2">
  <div class="menu__list"
    ng-animate="show"
    ng-class="{'show': showMenu}">
    <a class="menu__list__item mstb"
      ng-repeat="option in options"
      ui-sref-active="active"
      ui-sref={{::option.state}}
      >{{::option.name}}</a>
  </div>
  <div class="menu-button mrl btn btn-primary"
    ng-click="toggleMenu()">
    <span class="menu-button__icon fa fa-reorder fa-2x"
      ng-class="{'fa-rotate-90': showMenu}"></span>
  </div>
</div>
