
$base-color: #414042;
$button-color:#666666;

$image-bkg-color: #333333;
$image-border-color: #000000;
$description-color: #E4E4E4;
$loading-color: $description-color;



$menu-bg-color: #5c9ccc;
$content-bg-color: #d0e5f5;
$footer-bg-color: #5c9ccc;
