
$button-bg-color: #217bc0;
$button-txt-color: #E4E4E4;

$image-bkg-color: #333333;
$image-border-color: #000000;

$image-owner-bg-color: #c5dbec;
$description-bg-color: #f5f8f9;

$loading-color: #E4E4E4;


$header-bg-color: #dfeffc;
$menu-bg-color: #5c9ccc;
$menu-items-bg-color: #6da8d5;
$content-bg-color: #fcfdfd;
$footer-bg-color: #79b7e7;
